<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


</head>

<body>



<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">APS2 - Tópicos Especiais I</h1>
      <p class="lead">Arthur dos Santos Xavier</p>
      <ul class="list-unstyled">
        <li>Matrícula: 1203488</li>
      </ul>
      <p class="lead">César Júnior Liberatori</p>
      <ul class="list-unstyled">
        <li>Matrícula: 1600839</li>
      </ul>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <%= link_to "Tela de personagens", personagens_path, class: "btn btn-outline-primary"%>
  <%= link_to "Tela de poderes", poderes_path, class: "btn btn-outline-secondary"%>
</div>
</body>

</html>